provider-cli/node_modules/
dashboard/public/win-unpacked/
dashboard/public/linux-unpacked/
dashboard/public/mac/
dashboard/public/gui-*
dashboard/public/win-unpacked/
dashboard/public/linux-unpacked/
dashboard/public/mac/
dashboard/public/gui-*
node_modules/
provider-cli/node_modules/
dashboard/node_modules/
